@import '../../../styles/variables.scss';

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px;
    background-color: $white-color;
    border-radius: 10px;

    @media (max-width: 450px) {
        width: unset;
        flex: 1;
        padding: 6px;
    }

    .search-input {
        flex: 1;
        font-size: 18px;
        border: none;
        outline: none;

        @media (max-width: 450px) {
            font-size: 14px;
        }

        &:focus {

            & + .search-more {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    span {
        color: $black-color;
        padding-left: 10px;
        cursor: pointer;

        @media (max-width: 450px) {
            padding-left: 6px;
        }
    }

    .search-more {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(100% - 10px);
        left: 0;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.5s ease;
        background-color: $white-color;
        color: $black-color;
        overflow: hidden;
        padding-top: 20px;

        .search-list {
            overflow-y: auto;
            padding: 10px 0 10px;
            max-height: 400px;
            display: flex;
            flex-direction: column;
    
            .search-item {
                padding: 10px;
                display: flex;
                gap: 20px;
                transition: all 0.3s ease;
                cursor: pointer;

                @media (max-width: 450px) {
                    gap: 10px;
                }
    
                &:hover {
                    background-color: $gray-color-extra;
                }
    
                .search-item__img {
                    width: 50px;
                    height: 50px;

                    @media (max-width: 450px) {
                        width: 40px;
                        height: 40px;
                    }
                }
    
                .search-item__content {
                    flex: 1;
                    font-size: 14px;

                    @media (max-width: 450px) {
                        font-size: 12px;
                    }
    
                    .search-item__title {
                        line-height: 1.3;
                        font-weight: 500;
                        text-transform: uppercase;
                        padding-bottom: 20px;

                        @media (max-width: 450px) {
                            padding-bottom: 10px;
                        }
                    }
    
                    .search-item__category {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        font-weight: 300;
                        line-height: 1.3;
    
                        span:first-child {
                            padding-right: 5px;
                            font-weight: 500;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}